:root {
    --header-color: #2c2c2c ;
    /* --header-color: #555555; */
    /* --footer-color: #2c2c2c; */
    --footer-color: #2c2c2c;
    --header-text-color:white;
    /* --border-color: rgb(33 98 116); */
    /* --body-color: rgb(116, 116, 156); */
}
.info{
    background: center center / cover no-repeat url("https://i.pinimg.com/originals/27/1a/b2/271ab2b78d7f6065d1ce1ece0f4b4e67.jpg");
}
.works{

}
.works_item{
    padding-top: 30px;
    padding-bottom: 30px;
}

.works_item:nth-child(2n){
    background-color: rgb(39, 39, 39);
}
.works_item:nth-child(2n+1){
    background-color: rgb(233, 233, 233);
}

.works_item_h2{
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-decoration: underline;
}
.works_item_bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.works_item_bottom_p{
    width: 60%;
}
.works_item_bottom_img{
    height: 300px;
    
}
.left{
    color: rgb(233, 233, 233);
}
.right{
    color: rgb(39, 39, 39);
}