:root {
    --header-color: #555555;
    --footer-color: #2c2c2c;
    --header-text-color:white;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    /* z-index: 1000; */
}
header{
    position: fixed;
    /* display: flex; */
    /* align-items:center; */
    /* justify-content: space-between; */
    height: 90px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    background-color: var(--header-color);
     
    border-bottom: 3px solid black ;
    z-index: 10000;
}
/* header::after{
    position: fixed;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    top: 110px;
    z-index: 10000;
} */
.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 10000;   
}
.logo{
    width: 50px;
    height: 50px;
    margin: 15px;
    background-color: var(--header-text-color);
    border-radius: 50%;
    position: relative;
}
.icon{
    width: 50px;
    position: absolute;
    top: 2px;
}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.item{
    margin-right: 40px;
    color: inherit;
    position: relative;
}
.item:last-child{
    margin-right: 0px;
}
.item::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 2px;
    left: -10px;
    background-color: var(--header-text-color);
    top: -1px;
}
.menu_link{
    color: var(--header-text-color);
    text-decoration: none;
}
.menu_link:hover{
    text-decoration: underline;
}
.info{
    background-color: blueviolet;
    background: center center / cover no-repeat url("https://coolwallpapers.me/picsup/5086180-abstract-artistic-colors-digital-art-kaleidoscope-pattern-psychedelic.jpg");
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.info::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.527);
    height: 100vh;
    width: 100%;
    /* top: -10px; */
}
.info_h1{
    color: white;
    font-size: 80px;
    z-index: 100;
}
.info_h2{
    color: white;
    font-size: 30px;
    z-index: 100;
}
footer{
    background-color: var(--footer-color);
    /* padding-left: 50px;
    padding-right: 50px; */
    padding-top: 30px;
    padding-bottom: 35px;
    border-top: 2px solid black ;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
}
/* footer::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    
    box-sizing: border-box;
    top: -100px;
    background-color: black;
    
} */
.footer_contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_img{
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    margin-right: 25px;
    border-radius: 50%;
}
/* .footer_img_a{
    width: 30px;
    height: 30px;
} */
.footer_img:nth-child(1){
    background-color: coral;
    background: center center / cover no-repeat url("https://1.bp.blogspot.com/-2jQQ7FrGtGU/XFsqyrZRIwI/AAAAAAAAH3Y/UZ_DqDQeCdM9aTZKyE2gStTAn3Je3jNbACK4BGAYYCw/s1600/logo%2Bvk.png");
}
.footer_img:nth-child(2){
    background-color: rgb(80, 255, 232);
    background: center center / cover no-repeat url("https://www.pnglib.com/wp-content/uploads/2020/08/square-facebook-icon_5f347de4b1abb.png");
}
.footer_img:nth-child(3){
    background-color: rgb(255, 80, 138);
    background: center center / cover no-repeat url("https://igorzuevich.com/wp-content/uploads/2015/03/Twitter.png");
}
.footer_p{
    color: white;
}